table {
    border-collapse: collapse;
    
    box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
    overflow: auto;
  }
  
  th, td {
  
    box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
    text-align: center;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}