.Wall {
    grid-area: main;
    overflow: auto;
    display: flex;
    justify-content: center;

    &::-webkit-scrollbar {
        display: none;
    }

    .wall_inner_div {
        width: 700px;
        padding-top: 10px;

    }
}