#mainmenu {
  background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1,
               inset -3px -3px 7px #ffffff,
               inset 3px 3px 5px #ceced1;
     /* transition: all 0.3s ease; */
  margin: 0px;
  width: 100%;
}

#mainmenu li {

  display: inline-block;
  padding: 14px 30px 14px;
  font-size: 18px;
  /* text-align: center; */
  /* transition: background 1s; */
  color: #31344b;
  border-radius: 6px;
  box-shadow: -3px -3px 7px #ffffff,
             3px 3px 5px #ceced1;
  position: relative;
  /* transition: all 0.2s ease; */
}





#mainmenu li:hover {
  cursor: pointer;
  background: #ecf0f3;
  border-radius: 10px;
}

#mainmenu li .submenu {
  /* margin: 10px -30px 10px; */
  background: #ecf0f3;
  color:balck;
  padding: 0px;
  position: absolute;
  display: none;
  width: 200px;
  
}

#mainmenu li .submenu li {
  display: block !important;
  /* transition: padding-left 1s; */
  box-shadow: -3px -3px 7px #ffffff,
  3px 3px 5px #ceced1;

/* transition: all 0.2s ease; */
}

#mainmenu li:hover .submenu {
  display: block;
  z-index: 1;
}



