.Login {
    background: url('../../images/Login/login-bg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .container {
        width: 758px;
        height: 570px;
        display: flex;
        margin-top: 25px;
        $height: 100%;
        $width: 50%;
        $br: 15px;

        .image_sky_div {
            background: url('../../images/Login/login-img.jpg');
            background-size: cover;
            background-position: 0 bottom;
            border-radius: $br 0 0 $br;
            height: $height;
            width: $width;

            .image_coin_div {
                display: flex;
                justify-content: center;

                .image_coin {
                    $side: 100px;
                    width: $side;
                    height: $side;
                    margin-top: 30px;
                }
            }

            .captions {
                text-align: center;
                margin-top: 160px;
                color: var(--color1);
                font-weight: bold;

                ul {
                    list-style: none;
                    padding: 0%;

                    li {
                        margin-top: 13px;
                    }
                }
            }

            .captions_footer {
                text-align: center;
                padding: 0 65px;
                display: flex;
                white-space: wrap;
                margin-top: 30px;
                color: var(--color1);
                font-size: 10pt;

                ul {
                    padding: 0%;

                    li {
                        display: inline-block;
                        margin: 0 5px;
                        cursor: pointer;

                        &:not(:last-child):hover {
                            text-decoration: underline;
                        }
                    }

                    li:last-child {
                        display: block;
                        color: var(--color2);
                        margin-top: 10px;
                    }
                }
            }
        }

        .login_input_div {
            background-color: var(--color1);
            border-radius: 0 $br $br 0;
            height: $height;
            width: $width;

            p[data-content="About us"] {
                text-align: right;
                margin-right: 10px;
                font-weight: bold;
            }

            .login_company_logo_div {
                text-align: center;

                .login_company_logo_inner_div {
                    margin: 25px 0;

                    img {
                        $side: 100px;
                        width: $side;
                        height: calc(#{$side} - 30px);
                    }

                    h6 {
                        font-weight: 900;
                        font-size: 15pt;
                        margin: 0%;
                    }
                }
            }

            .login_inputs {
                .login_inputs_inner_div {
                    margin: 0 40px;
                    text-align: center;

                    .login_heading_and_inputs {
                        p[data-content="heading_student"] {
                            background-color: var(--color3);
                            color: var(--color1);
                            padding: 12px;
                            border-radius: 20px 20px 0 0;
                        }

                        .inputs {
                            input {
                                width: 100%;
                                box-sizing: border-box;
                                height: 40px;
                                margin: 5px 0;
                                border-radius: 20px;
                                padding-left: 20px;
                                border: 1px solid var(--color4);

                                &::placeholder {
                                    color: var(--color4);
                                }

                                &:focus-visible {
                                    outline-color: var(--color4);
                                }
                            }
                        }
                    }

                    .login_remember_forgot_password {
                        font-size: 10pt;
                        display: flex;
                        justify-content: space-between;
                        margin: 20px 0;
                        font-family: Arial, Helvetica, sans-serif;

                        .checkbox_and_label {
                            input[type="checkbox"] {
                                margin: 0;
                            }

                            label {
                                margin-left: 5px;
                                position: relative;
                                top: -1px;
                            }
                        }

                        span[data-content="forgot-password"] {
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .login_buttons {

                        button {
                            width: 100%;
                            height: 40px;
                            margin: 5px 0;
                            border-radius: 20px;
                            border: none;
                            cursor: pointer;

                            &:first-child {
                                background-color: var(--color3);
                                color: var(--color1);
                            }

                            &:last-child {
                                background: linear-gradient(var(--color1), var(--color4));
                                border: 1px solid var(--color5);
                            }
                        }
                    }
                }
            }

            .signIn_inputs {
                .signIn_inputs_inner_div {
                    margin: 0 40px;

                    .heading {
                        p[data-content="heading"] {
                            background-color: var(--color3);
                            color: var(--color1);
                            padding: 12px;
                            border-radius: 20px 20px 0 0;
                            text-align: center;
                            margin-bottom: 5px;
                        }
                    }

                    .inputs {
                        input {
                            width: 100%;
                            box-sizing: border-box;
                            height: 40px;
                            margin: 5px 0;
                            border-radius: 20px;
                            padding-left: 20px;
                            border: 1px solid var(--color4);

                            &::placeholder {
                                color: var(--color4);
                            }

                            &:focus-visible {
                                outline-color: var(--color4);
                            }
                        }
                    }

                    .checkbox_and_label {
                        input[type="checkbox"] {
                            margin: 0;
                        }

                        label {
                            margin-left: 5px;
                            position: relative;
                            top: -1px;
                            font-size: 10pt;
                        }
                    }

                    .signIn_buttons {

                        button {
                            width: 100%;
                            height: 40px;
                            margin: 5px 0;
                            border-radius: 20px;
                            border: none;
                            cursor: pointer;

                            &:first-child {
                                background-color: var(--color3);
                                color: var(--color1);
                            }

                            &:last-child {
                                background: linear-gradient(var(--color1), var(--color4));
                                border: 1px solid var(--color5);
                            }
                        }
                    }
                }
            }

            .forgot_password_inputs {
                .forgot_password_inputs_inner_div {
                    margin: 0 40px;

                    .heading {
                        p[data-content="heading"] {
                            background-color: var(--color3);
                            color: var(--color1);
                            padding: 12px;
                            border-radius: 20px 20px 0 0;
                            text-align: center;
                            margin-bottom: 5px;
                        }
                    }

                    .inputs {
                        input {
                            width: 100%;
                            box-sizing: border-box;
                            height: 40px;
                            margin: 5px 0;
                            border-radius: 20px;
                            padding-left: 20px;
                            border: 1px solid var(--color4);
                            margin: 30px 0;

                            &::placeholder {
                                color: var(--color4);
                            }

                            &:focus-visible {
                                outline-color: var(--color4);
                            }
                        }
                    }

                    .forgot_password_buttons {
                        button {
                            width: 100%;
                            height: 40px;
                            margin: 5px 0;
                            border-radius: 20px;
                            border: none;
                            cursor: pointer;

                            &:first-child {
                                background-color: var(--color3);
                                color: var(--color1);
                            }

                            &:last-child {
                                background: linear-gradient(var(--color1), var(--color4));
                                border: 1px solid var(--color5);
                            }
                        }
                    }
                }
            }
        }
    }
}