.ProfileView {
    width: 35%;
    height: 100%;
    overflow-y: auto;
    // background-color: var(--color8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    // margin: 0px;

    &::-webkit-scrollbar {
        display: none;
    }

    .edumetrix_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        h5{
            i{
                margin-left: 10px;
            }
        }
    }

    .image {
        // width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            $side: 120px;
            width: $side;
            height: $side;
            border-radius: 50%;
        }
    }

    .personal {
        // width: 30%;

        .id {
            display: flex;
            column-gap: 40px;
        }

        .followings {
            display: flex;
            column-gap: 10px;
            margin-top: 20px;

            p {
                border: 1px solid var(--color3);
                padding: 5px 10px;
                border-radius: 10px;
            }
        }
    }

    .separator {
        height: 2px;
        width: 100%;
        background-color: white;
    }

    .professional {
        width: 100%;

        .details {
            width: 100%;

            p {
                margin-left: 30px;
            }

            h6 {
                background-color: var(--color8);
                padding: 10px;
                margin: 10px;
                border-radius: 10px;
            }

            .line {
                margin: 0 30px;
                display: flex;
                justify-content: space-between;

            }
        }

        .edit_button {
            button {
                border: none;
                background-color: inherit;
                margin-left: auto;
                display: block;
                color: #4399BF;

                img {
                    $side: 20px;
                    width: $side;
                    height: $side;
                    margin-right: 10px;
                }
            }
        }
    }

    .Modal {
        height: 600px;
        width: 800px;
    }
}