.Navigation {
    width: 20%;
    height: 100vh;
    background-color: var(--color3);
    position: fixed;

    .backButton {
        margin: 20px;
        display: block;
        text-underline-offset: 3px;
        color: white;
        cursor: pointer;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        img{
            background-color: white;
            border-radius: 50%;
        }
        h3{
            color: white;
        }
    }

    nav {
        ul {
            margin-top: 35px;

            li {
                margin-top: 20px;
                margin-left: 20px;
                cursor: pointer;

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: white;

                    span {
                        background-color: var(--color5);
                        border-radius: 50%;
                        $side: 40px;
                        width: $side;
                        height: $side;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 20px;

                        img {
                            $side: 20px;
                            width: $side;
                            height: $side;
                        }
                    }
                }
            }
        }
    }
}