.agent-profile-main-div {
    display: flex;
    width: 80%;
    margin: auto;
    gap:50px;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px 40px;
    

    .agent-profile-form-div { 
        width:50%;    
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .agent-profile-form{
        width: 100%;
        padding: 10px 30px;
    }
    .agent-data-show{
        width:50%;
        text-align: center;
    }

    .agent-profile-form-btn {
        background-color: #193942;
        color: white;
        margin-bottom: 30px;
        width:100%
    }

    .agent-image img {
        border-radius: "30px";
        margin-bottom: 20px;
        width:200px;
        height:200px;
        border-radius: 50px;
    }

    .agent-data{
        width:70%;
        margin: auto;
        margin-top: 70px;
        text-align: center;
        border:3px solid rgb(57, 148, 0);
        padding:20px 40px;
        background-color: rgb(199, 244, 199);
    }
    .agent-card{
        width:70%;
        height:110vh;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .upper-container{
        height:170px;
        background: linear-gradient(to left, #53b4db , #164e64  );
    }
    .image-container img{
        background:white;
        width:180px;
        height:180px;
        border-radius: 50%;
        padding:5px;
        transform: translate(5px,85px);
    }
    img{
        border:3px solid #164e64
    }
    .lower-container{
        margin-top: 100px;
        height:100px;
        text-align: center;
        font-family: sans-serif;
    }
    
    .bank-details{
        
        .account-div-1, .account-div-2{
            display:flex;
            gap:30px;
            justify-content: space-around;
            padding:10px 20px;
        }
        .account-div-1 h6, .account-div-2 h6{
            font-weight: bold;
            color:#164e64
        }
    }
    .profile-pan,.adhar-front-back{
        display:flex;
        flex-wrap:no-wrap;
    }
    .id-card{
        margin:10px
    }
    .id-card img{
        height:200px;
        
    }
}
@media (max-width:1450px){
    .agent-profile-main-div{
        .profile-pan,.adhar-front-back{
            display:flex;
            flex-wrap:wrap;
        }
    }
}
@media (max-width:950px) {
    .agent-profile-main-div {
        width: 100%;
        display: block;
        .profile-pan,.adhar-front-back{
            display:flex;
            flex-wrap:wrap;
        }

        .agent-profile-form{
            width: 100%;
            padding: 10px 30px;
        }

        .agent-profile-form-div {
            width: 100%;
            margin: auto;
            justify-content: center;
            margin-top: 50px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .agent-data-show {
            text-align: center;
            margin-top: 40px;
        }
        .agent-data-show{
            margin:auto;
            margin-top: 20px;
            width:100%
        }

        .agent-image img {
            border-radius: "30px";
            margin-bottom: 20px;
        }
        .agent-card{
            height:110vh;
            width:95%
        }
      
        .id-card img{
            height:200px;
        }
    }
}