.Profile {

    .profile_content {
        grid-area: 2 / 2 / 3 / 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;

        .profile_wall {
            width: 60%;
        }
    }
}