.Profile {

    .profile_content {
        display: flex;
        overflow-y: auto;

        .profile_wall {
            width: 50%;
        }

        .advertisement {
            height: 92vh;
            width: 15%;
            border: 1px solid black;
        }
    }
}