.ChatBox {
    position: absolute;
    bottom: 0px;
    right: 10px;
    border: 2px solid var(--color3);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    width: 280px;
    overflow: hidden;

    header {
        background-color: var(--color3);
        color: var(--color1);
        text-align: center;
        height: 40px;
        padding-top: 6px;
        cursor: pointer;
        font-size: 14pt;
        font-weight: 700;

        i {
            margin-right: 15px;
        }
    }

    main {
        background-color: var(--color1);
        height: 250px;

        .chat_list {
            padding: 5px;

            .user {
                display: flex;
                cursor: pointer;

                img {
                    $side: 30px;
                    height: $side;
                    width: $side;
                    border-radius: 50%;
                }

                p {
                    margin-top: 2px;
                    margin-left: 10px;
                }
            }

        }

        .input_area {
            position: absolute;
            bottom: 0px;
            width: 100%;

            input {
                width: 100%;
            }
        }
    }
}