.ChatBox {
    position: absolute;
    bottom: 0px;
    right: 20px;
    border: 2px solid var(--color3);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    width: 280px;
    overflow: hidden;

    header {
        background-color: var(--color3);
        color: var(--color1);
        text-align: center;
        height: 40px;
        padding-top: 6px;
        cursor: pointer;
        font-size: 14pt;
        font-weight: 700;

        i {
            margin-right: 15px;
        }
    }

    main {
        background-color: var(--color1);
        height: 250px;

        .chat_list {
            height: inherit;

            .user {
                display: flex;
                cursor: pointer;
                padding: 5px;

                img {
                    $side: 30px;
                    height: $side;
                    width: $side;
                    border-radius: 50%;
                }

                p {
                    margin-top: 2px;
                    margin-left: 10px;
                }
            }

            .chatting_box {
                margin-top: 5px;
                height: inherit;
                $inputHeight: 30px;

                .chats {
                    overflow-y: scroll;
                    height: calc(100% - $inputHeight);

                    .message {
                        width: fit-content;
                        padding: 4px 7px;
                        border-radius: 5px;
                        margin: 7px 0;
                        font-size: 10pt;
                    }

                    .left {
                        background-color: var(--color8);
                        margin-left: 5px;
                    }

                    .right {
                        background-color: var(--color7);
                        margin-left: auto;
                        margin-right: 5px;
                    }
                }

                .footer {
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    height: $inputHeight;
                    display: flex;
                    justify-content: space-around;

                    input {
                        width: auto;
                    }

                    span {
                        $side: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--color4);
                        border-radius: 50%;
                        width: $side;
                        height: $side;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}