.UploadDocuments {
    width: 80%;
    padding: 20px;

    .items {
        &>* {
            margin-top: 15px;
        }

        .item {
            display: flex;
            width: fit-content;
            flex-direction: column;
            width: 150px;
            margin-left: 15px;
            position: relative;

            &:hover {
                label::before {
                    opacity: 2;
                }

                img {
                    opacity: .2;
                }
            }

            img {
                transition: .5s ease-in-out;
            }

            label {
                cursor: pointer;
                position: absolute;
                width: 100%;
                height: 87%;
                z-index: 10;

                &::before {
                    content: "\f093";
                    transition: .5s ease-in-out;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 50pt;
                    color: var(--color9);
                }
            }

            figcaption {
                margin: 0 auto;
                font-weight: bold;
            }
        }

        .row1 {
            .item {
                
                img {
                    height: 150px;
                    border-radius: 15px;
                    box-shadow: 0px 0px 13px -3px;
                }
            }
        }

        .row2 {
            display: flex;

            .item {
                width: 48%;

                img {
                    $side: 100%;
                    width: $side;
                    max-height: 182px;
                    border-radius: 15px;
                    box-shadow: 0px 0px 13px -3px;
                }
            }
        }
    }

    .buttons {
        button {
            display: block;
            margin-top: 15px;
            margin-left: 15px;
            width: 180px;
            width: calc(100% - 15px);
            height: 40px;
            border: 1px solid rgb(187, 187, 187);
            border-radius: 5px;
            background-color: var(--color9);
            color: white;
            font-weight: bold;
        }
    }
}