.Wall {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    width: 77%;

    &::-webkit-scrollbar {
        display: none;
    }

    .wall_inner_div {
        width: 80%;
        padding-top: 10px;

        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;

            .error {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    $side: 150px;
                    width: $side;
                    margin: 0 auto;
                }

                p {
                    text-align: center;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .Wall {
        width: 75%;
    }
}

@media screen and (max-width:1200px) {
    .Wall {
        width: 73%;
    }
}

@media screen and (max-width:1100px) {
    .Wall {
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    .Wall {
        .wall_inner_div {
            width: 90%;
        }
    }
}