.Wall {
    grid-area: main;
    overflow-y: scroll ;
    display: flex;
    justify-content: center;

    &::-webkit-scrollbar {
        display: none;
    }

    .wall_inner_div {
        width: 80%;
        padding-top: 10px;

    }
}