.AboutUs {
    display: flex;
    $first_element_width: 70%;

    section:first-of-type {
        flex-basis: $first_element_width;
        padding: 20px;
        text-align: justify;

        article {
            .video {
                iframe {
                    width: 100%;
                    height: 300px;
                }
            }

            div {
                margin: 20px 0;
            }

            .edumetrix_network {
                p {
                    margin: 20px 0;
                }
            }
        }
    }

    section:last-of-type {
        flex-basis: calc(100% - $first_element_width);
        display: flex;
        flex-direction: column;
        align-items: center;

        h6 {
            background-color: var(--color3);
            color: white;
            padding: 10px 0;
            margin-bottom: 0;
        }

        .active_users {

            border: 1px solid var(--color3);
            width: 80%;
            margin: 20px;
            text-align: center;
            border-radius: 25px;
            overflow: hidden;

            p {
                padding: 10px 0;
                letter-spacing: 10px;
                transform: translate(5px, 0);
                font-size: 20pt;
                font-weight: bold;
            }

        }

        .team {
            width: 80%;
            text-align: center;
            border-radius: 25px;
            overflow: hidden;
            border: 1px solid var(--color3);

            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 40px 0;

                img {
                    $side: 150px;
                    width: $side;
                    height: $side;
                }

                figcaption {
                    display: block;
                }

                p {
                    display: block;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width:550px) {
    .AboutUs {
        flex-direction: column;
        .team{
            margin-bottom: 50px;
        }
    }
}