.DisplayFriends {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 1px;

    img {
        border-radius: 50%;
        $side: 80px;
        width: $side;
        height: $side;

    }

    .details {
        width: 50%;
        margin-left: 30px;
    }

    button{
        border-radius: 15px;
        width: 100px;
        background-color: var(--color7);
        border: none;
        color: white;
    }
}