.TermsOfServices {
    padding: 30px;

    P {
        padding: 20px;
        text-align: justify;
    }

    ol {
        li {
            padding: 20px;
            text-align: justify;
        }
    }

    ul {
        list-style: disc;
    }
}