.Modal_platform {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .5);
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .Modal {
        min-height: 500px;
        width: 600px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        padding: 10px;

        svg {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
    }
}