.all-agent-Card-page {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
  }
  .one-agent-card {
    position: relative;
    width: 310px;
    border-radius: 20px;
  }

  .banner {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-self:center;
    height: 150px;
    width:310px;
    background-image: linear-gradient(to right, #04303b, #4696ae);
    background-size: cover;
    margin-bottom: 75px;
    // z-index: -1;
  }

  .img-circle {
    position: absolute;
    top: 10px;
    height: 220px;
    width: 220px;
    border-radius:50% ;
    border: 3px solid #fff;
    margin-top: 10px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    object-fit: cover;
  }
  .card_container {
    margin: 0 20px;
    padding-top: 0;
    color: "#000";
  }
  .card_header {
    font-weight: 800;
    text-align: center;
    margin: 0 0 25px;
    color: rgb(18, 17, 17);
    line-height: 10px;
  }
  .card_detail {
    font-weight: 400;
    color: rgb(19, 9, 9);
    margin-bottom: 15px;
    line-height:20px ;
  }

  .one-agent-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
  .filtering-name {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
  }
  .filtering-agent-div {
    width: 100%;
    text-align: center;
  }
  .Filtering-email-status-location {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .searchField{
    width:70%;
    padding: 1px 44px 1px 52px;
    border-radius: 30px;
  }
