.EditProfile {
    height: 100%;
    .body {
        border-top: 1px solid #e7e4e4;
        display: flex;
        height: 97%;
        
        .navigation {
            border-right: 1px solid #e7e4e4;
            height: inherit;
            padding-right: 30px;
            ul {
                padding: 0;
                li{
                    font-weight: 400;
                    cursor: pointer;
                    margin: 10px 0;
                }
            }
        }

        .edit_area {
            width: 100%;
            padding: 10px 20px;
        }
    }

    .title {
        cursor: pointer;

        h6 {
            display: inline-block;
        }

        i {
            float: right;
            margin-right: 30px;
            font-size: 21px;
        }

        .inputs {
            div {
                width: 90%;
                margin: 10px 0;
                margin-left: 20px;

                label {
                    width: 25%;
                }

                input {
                    width: 74%;

                }
            }
        }
    }
}