.Header {
    grid-area: header;
    background-color: var(--color4);

    .header_inner_div {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 5px 0;

        img {
            $side: 25px;
            width: $side;
            height: $side;
            margin: 0 15px;

            &:last-child {
                $side: 45px;
                width: $side;
                height: $side;
                border-radius: 50%;
            }
        }
    }
}