.student-agent-full-details-show{
    display:flex;
    width:90%;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
    gap:20px;
    .agent-full-details{
        width:30%;
    }
   
    .agent-picture{
        width:100%;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .upper-box{
        height:170px;
        background: linear-gradient(to left, #53b4db , #164e64  );
    }
    .image-box img{
        background:white;
        width:130px;
        height:130px;
        border-radius: 50%;
        padding:5px;
        transform: translate(10px,100px);
    }
    img{
        border:3px solid #164e64
    }
    .lower-box{
        margin-top: 80px;
        text-align: center;
        font-family: sans-serif;
    }

    .all-student-details{
        width:73%;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .one-student-card{
        margin-top:20px;
        margin-bottom:20px
    }
    .one-student-card:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
}