.NavBar {
    grid-area: navbar;
    background-color: var(--color6);
    padding: 1px;
    color: var(--color1);

    .network_div {
        text-align: center;
        margin: 20px 0;

        div {
            width: 50%;

            p {
                margin: 0%;
            }
        }
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 60px;
        height: 100px;

        img {
            width: 100px;
            border-radius: 50%;
            background-color: white;
        }

        p {
            width: 100%;
            text-align: center;
            font-size: 20pt;
        }
    }
    hr{
        margin-bottom:30px;
        width: 90%;
        margin-left:auto;
        margin-right:auto;
    }

    ul {
        margin: 0;
        list-style: none;
        padding-left: 0%;

        a {
            text-decoration: none;

            li {
                cursor: pointer;
                padding-left: 2rem;
                padding-top: 6px;
                height: 40px;

                img {
                    $image_size: 25px;
                    width: $image_size;
                    height: $image_size;
                }

                span {
                    position: relative;
                    bottom: 0px;
                    left: 10px;
                    color: var(--color1);
                }
            }
        }

        .active {
            background-color: var(--color7);
        }
    }
}