.ForgotPassword {
    .forgot_password_inputs {
        .forgot_password_inputs_inner_div {
            margin: 0 40px;
            position: relative;

            .heading {
                p[data-content="heading"] {
                    background-color: var(--color3);
                    color: var(--color1);
                    padding: 12px;
                    border-radius: 20px 20px 0 0;
                    text-align: center;
                    margin-bottom: 5px;
                }
            }

            .inputs {
                input {
                    width: 100%;
                    box-sizing: border-box;
                    height: 40px;
                    margin: 5px 0;
                    border-radius: 20px;
                    border: 1px solid var(--color4);
                    margin: 30px 0;
                    text-align:center;

                    &::placeholder {
                        color: var(--color4);
                    }

                    &:focus-visible {
                        outline-color: var(--color4);
                    }
                }
            }

            .error{
                color: red;
                font-size: 9pt;
                position: absolute;
                top: 130px;
                text-align:center;
                width: 100%;
            }

            .forgot_password_buttons {
                button {
                    width: 100%;
                    height: 40px;
                    margin: 5px 0;
                    border-radius: 20px;
                    border: none;
                    cursor: pointer;

                    &:first-child {
                        background-color: var(--color3);
                        color: var(--color1);
                    }

                    &:last-child {
                        background: linear-gradient(var(--color1), var(--color4));
                        border: 1px solid var(--color5);
                    }
                }
            }
        }
    }
}