.billing-pages-main-div {
    border: 1px solid;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;

    .printbuttonContainer {
        display: flex;
        justify-content: space-between;
        padding: 30px 40px 0;

    }

    .edumetrix-heading {
        display: flex;
        margin: auto;
        text-align: justify;
        gap: 30px;
        margin-top: 20px;
        width: 85%;
    }

    .img-invoice {
        display: flex;
        justify-content: space-around;
    }

    .billed-by-to-div {
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 85%;
        margin-top: 20px;
        gap: 20px
    }

    .billed-by {
        width: 70%;
        padding: 10px;
        background-color: #e6f3fa
    }

    .billed-to {

        width: 50%;
        padding: 10px;
        background-color: #e6f3fa
    }

    .heading-edit-icon {
        display: flex;
        justify-content: space-between;
    }

    .edit-icon {
        cursor: pointer;
    }

    .amount-table,
    .received-amount-status {
        width: 85%;
        margin: auto;
        margin-top: 10px;
    }

    .received-amount-status thead {
        background-color: #164e64;
        color: white
    }

    .amount-table thead {
        background-color: #164e64;
        color: white
    }

    .total-amount-details-main-div {
        display: flex;
        justify-content: space-between;
    }

    .Terms-of-condition-full-main-div {

        background-color: #e6f3fa;
        width: 85%;
        margin: auto;
        margin-bottom: 20px;
    }

    .terms-of-service-bank-acc-main-div {
        display: flex;
        border-radius: 10px;
    }

    .terms-of-condition-div {
        width: 40%;
        padding: 20px;

    }

    .bank-details-div {
        width: 60%;
        padding: 20px;
    }

    .account-qr-code {
        display: flex;
        margin-top: 20px;
        gap: 40px;
        padding-right: 20px;
        width: 100%;
        justify-content: space-between;
    }

    .contact-email-number {
        width: 65%;
        margin: auto;
        // margin-top: -10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .course-details-seal-logo {
        display: flex;
        justify-content: space-between;

    }

    .thanks-tag {
        font-weight: bold;
        text-align: center;
        padding-bottom: 5px;
        font-size: 20px;
    }

    .seal {
        width: 150px;
        margin-top: 35px;
    }
    .billing-course-details-p-tag{
        margin: 0;
        padding: 0;
    }

}

@media print {
    .billing-pages-main-div {
        width: 100%;

        .amount-table thead {
            color: black;
        }

        .received-amount-status thead {
            color: black;
        }

        .contact-email-number {
            width: 85%;
        }

        .thanks-tag {
            font-weight: bold;
            text-align: center;
            font-size: 15px;
        }

        .edumetrix-heading {
            width: 90%
        }

        .amount-table,
        .received-amount-status {

            width: 90%
        }

        .billed-by-to-div {

            width: 90%;
        }

        .seal{
            width: 100px;
            margin-top: 55px;
        }

        .Terms-of-condition-full-main-div {
            width: 90%
        }
        .billed-by , .billed-to{
            background-color: #d7e4eb

        }
    }
}