.ChatWindow {
    grid-area: main;
    background-color: gainsboro;

    .chat_window_inner_div {
        height: 100%;

        header {
            background-color: whitesmoke;
            height: 10%;
            display: flex;
            align-items: center;
            flex-grow: grow;
            gap: 15px;
            padding-left: 20px;

            img {
                $side: 50px;
                width: $side;
                height: $side;
                border-radius: 50%;
            }
        }

        .chat_screen {
            background-color: gainsboro;
            height: 80%;
            padding: 1px;
            position: relative;
            overflow-y: overlay;

            .chat {
                background-color: white;
                min-width: 25%;
                max-width: 50%;
                min-height: 50px;
                width: fit-content;
                padding: 15px;
                border-radius: 10px;
                margin: 10px 30px;
                display: block;

                img,
                video {
                    width: 100%;
                    padding: 10px;
                }
            }

            .self {
                right: 1px;
                margin-left: auto;
            }

            .other {
                left: 1px;
            }
        }

        .chat_input {
            background-color: whitesmoke;
            height: 10%;
            display: flex;
            // justify-content: space;

            .message_input {
                width: 85%;
                border-radius: 1000px;
                border: none;
                padding: 0 20px;
                background-color: gainsboro;
                margin: 1.2% 0;
                margin-left: 1%;

                &:focus {
                    outline: white;
                }

                &::placeholder {
                    font-style: italic;
                }
            }

            .icons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 15%;
                margin: 1% 1%;

                i {
                    font-size: 1.8rem;
                    margin: 1%;
                    cursor: pointer;
                    position: relative;
                }

                #attach_button {

                    .Popper {
                        padding: 15px;
                        z-index: 100;

                        label {
                            font-size: 1.3rem;
                            white-space: nowrap;
                            margin: 1%;
                            cursor: pointer;

                            i {
                                font-size: 1rem;
                            }
                        }
                    }

                    .Modal {

                        h4 {
                            border-bottom: 1px solid gainsboro;
                            padding-bottom: 8px;
                        }

                        .view {
                            display: flex;
                            justify-content: center;
                            padding: 15px;

                            img {
                                width: 80%;
                            }

                            video {
                                width: 80%;
                            }
                        }

                        .file_message_input {
                            display: flex;

                            input {
                                flex-grow: 1;
                                margin: 10px;
                                border-radius: 1000px;
                                border: 1px solid grey;
                                padding-left: 15px;
                                font-size: 1rem;

                                &:focus {
                                    outline: grey
                                }

                                &::placeholder {
                                    font-style: italic;
                                }
                            }

                            i {
                                margin: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .landing {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        img {
            $side: 300px;
            width: $side;
        }

        p {
            width: 400px;
            text-align: center;
        }
    }
}