.termsofcondition-whole-div{
    
    .article {
        width:78%;
        margin: auto;
        margin-top: 100px;
    }
    .paragraph-article  p{
        padding: 0px;
        margin-bottom: 12px;
    }
    .paragraph-article{
        margin-bottom: 20px;
    }
    
    
}