.Wallet {
    .wallet_content {
        grid-area: 2 / 2 / 2 / 4;
        display: grid;
        grid-template-rows: 10vh auto;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 10px;

        p[data-content="heading"] {
            text-align: center;
            padding: 10px 0;
            font-size: 20pt;
            font-weight: 700;
            background-color: var(--color3);
            color: white;

            &:first-child {
                grid-column: 1 / span 2;
            }

            &:last-of-type {
                grid-column: 3 / span 2;
            }
        }

        .transactions {
            grid-column: 1 / span 3;

            h3 {
                background-color: var(--color3);
                color: white;
                width: 90%;
                height: fit-content;
                padding: 10px;
                border-radius: 10px 10px 0 0;
                margin: auto;
                margin-top: 20px;
            }

            p {
                text-align: center;
                margin-top: 20px;
            }
        }

        .qrcode {
            grid-column: 4 / span 1;
            background-color: var(--color3);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 10px 30px;
            padding: 20px 0;
            border-radius: 7px;

            .qr {
                padding: 15px;
                background-color: white;
                border-radius: 20px;

                img {
                    $side: 150px;
                    width: $side;
                    height: $side;
                }
            }

            .wallet_address {
                color: white;
                width: 210px;
                text-align: center;

                i {
                    cursor: pointer;
                    margin-left: 10px;
                }

                p {
                    word-wrap: break-word;
                }
            }

            .send_to {
                text-align: center;
                padding: 10px;
                background-color: white;
                width: 80%;
                height: 130px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 7px;

                p {
                    font-size: 10pt;
                    font-weight: 700;
                }

                input {
                    width: 100%;
                    border: none;
                    text-align: center;

                    &:focus-visible {
                        outline: none;
                    }
                }

                button {
                    width: 100%;
                    border: none;
                    background-color: var(--color3);
                    color: white;
                    border-radius: 7px;
                }
            }
        }
    }

    .Modal {
        height: 220px;

        h3 {
            color: darkcyan;
            font-size: 18pt;
            margin: 15px;
        }

        div {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 10px 0;

            input {
                width: 300px;
                border: 1px solid gainsboro;
                padding: 6px;
                border-radius: 5px;
            }

            button {
                border: none;
                border-radius: 5px;
                padding: 0 25px;
                color: white;
            }

            .sms {
                background-color: var(--color3);
            }

            .email {
                background-color: var(--color7);
            }
        }
    }
}