.BotIcon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;

    .chat_window {
        height: 400px;
        width: 300px;
        background-color: white;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 1px 1px 10px -4px;

        .header {
            height: 50px;
            background-color: blueviolet;
            padding: 1px;
            color: white;

            span {
                display: block;
                margin-left: 10px;
                margin-top: 10px;
            }

            svg {
                position: absolute;
                right: 10px;
                top: 10px;
                fill: white;
            }
        }
    }

    .image_div {
        img {
            $side: 50px;
            width: $side;
            height: $side;
            background-color: white;
            border-radius: 50%;
        }
    }
}