.BotIcon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;

    .chat_window {
        height: 521px;
        width: 335px;
        background-color: white;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 1px 1px 10px -4px;

        svg {
            position: absolute;
            right: 10px;
            top: 10px;
            fill: white;
            z-index: 1000;
        }
    }

    .image_div {
        img {
            $side: 50px;
            width: $side;
            height: $side;
            background-color: white;
            border-radius: 50%;
        }
    }
}