.main-background-image {
    margin-top: 150px;
    width: 50%;
}

.auto-video-play {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px 0px;
    cursor: pointer;

}

.below-navbar {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-around;
}

.edumetrix-header {
    width: 40%;
    flex-direction: row;
    text-align: left;
    display: block
}

.primary-header {
    margin-top: 150px;
    font-weight: bold;
    font-size: 50px;
    color: #164e64;
}

.edumetrix-header .secondary-header {
    font-weight: bold;
    font-size: 30px;
    color: rgb(113, 113, 113);
    text-align: left;
}

//
.edumetrix-header .ternary-header {
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(113, 113, 113)
}

.services-btn {
    display: flex;
    gap: 20px
}

.apply-btn {
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 15px;
    border: 0;
    background-color: #164e64;
    color: white
}
.all-cards{
    width:80%;
    display:flex;
    overflow-x: auto;
    gap:20px;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-left: 140px;
   }

.all-cards .single-card{
    box-shadow: #164e64 0px 15px 10px;
    background-color: rgb(229, 250, 250);
    transition: 2s;
}

.single-card:hover {
        transform: scale(1.1);
        z-index: 0;
    }


.all-cards::-webkit-scrollbar{
    width:0
}
// @media screen and (min-width:2000px) {
//     .all-cards{
//         justify-content: center;
//     }
// }

@media screen and (max-width:1100px) and (min-width:900px) {
    .auto-video-play {
        border: 1px solid;
        margin-top: 20%;
    }
    .all-cards{
        width:80%;
        display:flex;
        overflow-x: auto;
        gap:20px;
        padding-left: 50px;
    }
    .all-cards::-webkit-scrollbar{
        width:0
    }
   
}

@media screen and (max-width:900px) and (min-width:250px) {
    .below-navbar {
        flex-direction: column;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    .edumetrix-header {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .edumetrix-header .secondary-header,
    .edumetrix-header .ternary-header {
        text-align: center;
        word-break: normal;
    }
    .main-background-image {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .all-cards{
        width:80%;
        display:flex;
        overflow-x: auto;
        gap:20px;
        padding-left: 10px;
      
    }


}

.all-courses-heading .modernwork-heading,
.all-courses-heading .edumetrix-headline {
    text-align: center;
    margin-top: 30px;
    text-decoration: double;
}

// .all-cards {
//     display: flex;
//     margin: auto;
//     justify-content: center;
//     width: 64%;
//     gap: 20px;
//     overflow: auto;
//     padding: 20px 40px;
//     margin-top: 20px;
//     // border: 1px solid;
// }
// .all-cards::-webkit-scrollbar{
//     width:0
// }

@media screen and (max-width:900px) and (min-width:300px) {
    // .all-cards {
    //     width: 70%;
    //     overflow-x:auto;
    //     // overscroll-behavior-inline: contain;
    // }
    // .all-cards::-webkit-scrollbar{
    //     width:0;
    // }
    

   

}
// .single-card {
//     box-shadow: #164e64 0px 15px 10px;
//     background-color: rgb(229, 250, 250);
//     transition: 2s;
// }

// .single-card:hover {
//     transform: scale(1.1);
//     z-index: 0;
// }


.card-title {
    font-size: 20px;
    background-color: #164e64;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.card-details {
    font-size: 15px;
    text-align: center;
    line-break: auto
}

.card-details span {
    background-color: #164e64;
    border-radius: 10px;
    padding: 5px 9px;
    color:white
    // margin: 25px;
}

.card-details div {
    
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px
}

.all-cards .single-card .course-card {
    margin-top: 20px;
    width: 300px;
}


.Card-div {
    position: static;
}