.ContactUs {
    display: flex;
    height: 90vh;

    .contact {
        flex-basis: 30%;
        padding: 20px;

        h5 {
            margin-bottom: 20px;
        }

        p {
            margin-left: 40px;
            color: blue;
        }

        .email {
            margin-top: 80px;

            a {
                display: block;
                text-align: right;
                margin-bottom: 10px;
            }
        }
    }

    .location {
        flex-basis: 70%;
        padding: 40px;
    }
}