.SignUpVerification {
    background: url('../../asset/images/Login/login-bg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .content {
        width: 70%;
        height: 80vh;
        margin-top: 55px;
        border: 2px solid gray;
        background: linear-gradient(90deg, rgba(white, .6) 50%, #35A2C1);
        border-radius: 25px;
        display: flex;
        overflow: hidden;

        .company {
            width: 35%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                background-color: white;
                border-radius: 50%;
                $side: 100px;
                width: $side;
                height: $side;
            }

            h3 {
                color: white
            }

            hr {
                color: rgba(white, 1);
                width: 50%;
                height: 3px;
                opacity: 1;
            }

            input {
                background-color: inherit;
                border: none;
                text-align: center;
                margin-top: 180px;
                border-bottom: 1px solid white;
                width: fit-content;

                &::placeholder {
                    text-decoration: wavy;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}