.status-main-div{
    .student-table{
        width:80%;
        margin: auto;
    }
}
@media screen and (max-width:800px){
    .status-main-div{
        .student-table{
            width:80%;
            margin: auto;
            overflow: scroll;
        }
    }
}