.SignIn {
    .login_inputs {
        .login_inputs_inner_div {
            margin: 0 40px;
            text-align: center;

            .login_heading_and_inputs {
                p[data-content="heading_student"] {
                    background-color: var(--color3);
                    color: var(--color1);
                    padding: 12px;
                    border-radius: 20px 20px 0 0;
                }

                .inputs {
                    input {
                        width: 100%;
                        box-sizing: border-box;
                        height: 40px;
                        margin: 5px 0;
                        border-radius: 20px;
                        padding-left: 20px;
                        border: 1px solid var(--color4);

                        &::placeholder {
                            color: var(--color4);
                        }

                        &:focus-visible {
                            outline-color: var(--color4);
                        }
                    }

                    p {
                        color: red;
                        font-size: 9pt;
                        text-align: left;
                    }

                    .error {
                        border-color: red;

                        &::placeholder {
                            color: rgba(red, 0.5);
                        }
                    }
                }
            }

            .login_remember_forgot_password {
                font-size: 10pt;
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
                font-family: Arial, Helvetica, sans-serif;

                .checkbox_and_label {
                    input[type="checkbox"] {
                        margin: 0;
                    }

                    label {
                        margin-left: 5px;
                        position: relative;
                        top: -1px;
                    }
                }

                span[data-content="forgot-password"] {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .Login_robot_verification{
                // display: flex;
                justify-content: center;
                margin: 5px 0;
            }

            .error_tag {
                color: red;
                font-size: 9pt;
                text-align: left;
            }

            .login_buttons {
                margin: 10px 0;

                button {
                    width: 100%;
                    height: 40px;
                    margin: 5px 0;
                    border-radius: 20px;
                    border: none;
                    cursor: pointer;

                    &:first-child {
                        background-color: var(--color3);
                        color: var(--color1);
                    }

                    &:last-child {
                        background: linear-gradient(var(--color1), var(--color4));
                        border: 1px solid var(--color5);
                    }
                }
            }
        }
    }
}