.agent-earning-table{
    
    display: flex;
    flex-direction: column;    
}

.agent-earning-table .agent-earning-deatils {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:10px 0px;
    padding: 10px 0px;
    
}

.agent-earning-table .agent-earning-status{
    width: 100%;
}

